<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="download">
        <img class="pre" src="/download2-removebg-preview.png">
 <div class="pre">
    <h1>Your Resume is ready to Download!</h1>
        <div class="btn">
        <a href="" ><button >preview</button></a>
        <a href="" ><button >download</button></a>
        </div>
</div>
</div>
</body>
</html>